{{ define "footer" }}
<hr>
        <div class="footer" style="display:inline-block;background-color: lightgray;">
            <div style="margin: 3px;">
            Powered by 
            <a href="https://github.com/yosa12978/WikiMD"><img src="{{.Info.Icon}}" style="max-height: 25px;"/></a>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
            </div>
        </div>
    </body>
</html>
{{ end }}