{{define "header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <title>{{.Info.Name}}</title>
        <script src="/static/scripts/script.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    </head>
    <body>
        <div>
        <h1 ><a href="/" style="color: black; "><img src="{{.Info.Icon}}" style="max-width: 128px; max-height: 128px;">{{.Info.Name}}</a></h1>
        <small>{{.Info.Desc}}</small><br>
        <a href="/" class="m-1 btn btn-primary"><i class="fa fa-file-text-o" aria-hidden="true"></i>Pages</a>
        <a href="/pages/search"class="m-2 btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i>Search</a>
        <div style="float: right">
        {{ if .Authenticated }}
        <a href="/user/{{.User}}"class="m-1 btn btn-primary"><i class="fa fa-pied-piper-alt" aria-hidden="true"></i>{{.User}}</a>
        <a href="/auth/logout"class="m-1 btn btn-primary"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
        {{ else }}
        <a href="/auth/login"class="m-1 btn btn-primary"><i class="fa fa-sign-in" aria-hidden="true"></i>Login</a>
        <a href="/auth/signup"class="m-1 btn btn-primary"><i class="fa fa-plus-square" aria-hidden="true"></i>Signup</a>
        {{ end }}
        </div>
        <hr>
        </div>
{{end}}