{{define "createpage"}}

{{template "header" .}}
<h1>Create page</h1>
<form method="POST" action="/page/create" ><br>
    <input name="name" class="form-control" type="text" style="width: 100%; max-width: 100%;" placeholder="name"/><br>
    <textarea name="body" class="form-control" type="text" style="width: 100%; height:100%; max-width: 100%;min-height: 228px; " placeholder="body"></textarea><br>
    <button class="btn btn-primary" type="submit">Create</button>
</form>
{{template "footer" .}}

{{end}}